<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>NewsroomEdition</key><string>public</string>
<key>NewsroomProjectURL</key><string>https://www.kevinhessel.com/hearye</string>
<key>NewsroomRepoURL</key><string>https://github.com/thearknewspaper/hearye</string>
<key>NewsroomUpdateFeed</key><string>https://api.github.com/repos/thearknewspaper/hearye/releases/latest</string>
<key>NewsroomSupportEmail</key><string></string>
</dict></plist>
